
.container{
    background-color: #00A9FF;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    width: 182px;
    height: 255px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.button{
 background-color: #1640D6;
 width: 30px;
 height:30px;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5px;
 color: white;
}
.input{
    background-color:aliceblue;
    height:30px;
    grid-column: span 4;
    border-radius: 3px;
    margin: 5px;
    align-content: center;
    justify-content: center;
}
.container .button{
 padding: 0 2px;
 /* color: red; */
}
